.about__br {
    height: 0.6rem;
    display: block;
    content: "";
}

.container.about__container {
    display: grid;
    grid-template-columns: 3fr 6fr;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.about__me {
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg, 
        transparent, 
        var(--color-primary), 
        transparent
    );    
    /* height: 22rem; */
    width: 100%;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(4deg);
    transition: var(--transition);
}

.active__scroll {
    transform: rotate(0deg);
}

.about__desc {
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    margin: auto 0;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ==================== */
@media screen and (max-width: 1024px) {
    .container.about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 0rem auto 3rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }

    .about__desc {
        font-size: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .container.about__container {
        width: 70%;
    }
}

/* ==================== MEDIA QUERIES (SMALL DEVICES) ==================== */
@media screen and (max-width: 600px) {
    .about__me {
        width: 80%;
        margin: 0 auto 2rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 0.5rem;
    }

    .about__content p {
        text-align: center;
    }

    .about__content {
        margin: 1.5rem 0;
    }

    .container.about__container {
        width: 86%;
    }
}